/* Store name */
#shooz {
    font-family: 'roboto mono', sans;
    letter-spacing: 5px;
    padding: 5px;
    margin-bottom: 60px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: white;
}
  
a:active {
    text-decoration: none;
    color: black;
}

/* Body styling */
body {
    font-family: 'roboto mono', sans;
    background-image: url('./images/neutral.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

/* Product images */
img {
    width: 200px;
    height: 200px;
    border: 1.5px solid black;
}

/* Product listing layout */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Product listing size */
section {
    width: 200px;
}
h3 {
    margin-bottom: 25px;
}

/* Submit button */
#submit {
    font-family: 'roboto mono', sans;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 3px 3px gray;
    margin-left: auto;
    margin-right: auto;
}

#submit:hover {
    color: black;
    background-color: white;  
  }

.container { 
    height: 200px;
    position: relative;
  }
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }