/* CSS file for the style of invoice.html */

/* Store name (a:link-active taken from W3Schools) */
#hs {
    font-family: 'roboto mono', sans;
    letter-spacing: 5px;
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: white;
}
  
a:active {
    text-decoration: none;
    color: black;
}

/* Thank you message */
h2 {
    padding: 5px;
    margin-bottom: 30px;
}

/* Body styling */
body {
    font-family: 'roboto mono', sans;
    text-align: center;
    background-image: url('./images/tile.gif');
    background-repeat: repeat;
}

/* Product images */
img {
    width: 190px;
    height: 190px;
    border: 1.5px solid black;
}

/* Table styling*/
table {
    border: 1px transparent;
    border-collapse: collapse;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    padding: 10px;
}

/* Order summary box styling */
.ordersummary {
    margin-top: 20px;
    border: 1px solid black;
    width: 400px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/* Shipping info */
u:hover {
    font-weight: bold;
    color: black;
}