/* General */  
body {
    width: 800px; 
    margin: 0 auto;
    background-image: url("./Images/phone_globe.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Form styling */  
img {
    width: 200px;
    height: 200px;
}

/* Typography */ 
h1, h2 {
    text-align: center;
}

/* Styling the products display */ 
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* Block styling */  
div {
    border: 5px solid black;
    display: flex;
}