h1, h2 {
    font-family: 'Oswald', sans;
}

body {
    font-family: 'Open Sans', sans;
    color: yellow;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 50px;
    margin: 10px;
}